@import url('https://fonts.googleapis.com/css?family=Acme|Bangers|Girassol|Special+Elite&display=swap');

.container1{
    background-color: #2c5f2d;
}
.heading{
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 3pt;
    font-size: 38pt;
    color: #97bc62ff;
    word-spacing: 5pt;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {color: #97bc62ff; left:0px; top:0px;}
    25%  {color: #2c5f2d; left:30px; top:0px;}
    50%  {color:#97bc62ff; left:90px; top:0px;}
    75%  {color: #2c5f2d; left:0px; top:0px;}
    100% {color:#97bc62ff; left:0px; top:0px;}
  }
.myprofile{
    background-color: #97bc62ff;
    color: #2c5f2d;
    border-radius: 30pt;
    padding: 5px;
}

.link{
    color: #2c5f2d;
}
